* {
    box-sizing: border-box;
}


.red {
    background: red;
}

.green {
    background: #00ff00;
    margin-bottom: 10px;
    padding: 10px;
}

.green:last-child {
    margin-bottom: 0;
}

.yellow {
    background: #ffff00;
    padding: 10px;

}


.blue {
    background: #0c68e2;
}

.root {
    width: 1000px;
    height: 1000px;
    flex-direction: column;
    padding: 10px;
}

.d-flex {
    display: flex;
}

.h-50 {
    height: 50%;
}

.w-50 {
    width: 50%;
}

.h-100 {
    height: 100%;
}

.w-40 {
    width: 40px;
}

.h-40 {
    height: 40px;
}

.root {
    flex-direction: column;
}

.j-c-end {
    justify-content: flex-end;
}

.a-i-end {
    align-items: flex-end;
}

.j-c-bit {
    justify-content: space-between;

}

.box {
    padding-left: 10px;
}



